body {
    background-color: rgb(10, 5, 5);
    color : rgb(221, 195, 195);
    padding-top: 56px;
}

h2 {
    color : rgb(221, 195, 195);
    margin-top:2%;
}

a:link {
    color:rgb(221, 195, 195);
}

a:visited {
    color:rgb(221, 195, 195);
}

a:hover {
    color:rgb(255, 250, 250);
}

.navbar-custom {
    background-color: rgb(55, 10, 10);
    border-bottom: 2px;
    border-top: 0px;
    border-right:  0px;
    border-left: 0px;
    border-style: solid;
    border-color: black;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.btn-custom {
    background-color: rgb(97, 25, 25);
    border-color: rgb(90, 25, 25);
    border-radius: 12px;
    padding: 8px;
    color: rgb(180, 160, 160);
    text-decoration: none;
}

.btn-custom:hover {
    background-color: rgb(115, 25, 25);
    border-color: rgb(90, 25, 25);
    color:rgb(180, 160, 160);
    text-decoration: none;
}

.btn-custom:visited {
    background-color: rgb(90, 25, 25);
    border-color: rgb(90, 25, 25);
    color: rgb(180, 160, 160);
    text-decoration: none;
}

.btn-comments {
    background-color: rgb(97, 25, 25);
    border-style: none;
    font-size: small;
    font-style: italic;
    text-decoration: none;
    color: rgb(180, 160, 160);
    padding: 10px;
    border-radius: 20px;
}

.btn-comments:hover {
    background-color: rgb(167, 65, 65);
    border-color: rgb(90, 25, 25);
    font-size: small;
    font-style: italic;
    text-decoration: none;
    color: rgb(180, 160, 160)
}

.card {
    background-color: rgb(90, 25, 25);
    border-color: rgb(90, 25, 25);
    color: rgb(180, 160, 160);
    border-radius: 2px;
    border-color: black;
    margin-bottom: 2%;
    text-decoration: none;
}

.card-footer {
    margin :0%;
    background-color: rgb(110, 40, 40);
}

.card-footer p {
    color: whitesmoke;
    font-weight: bold;

}

.blog-post-main {
    background-color: rgb(228, 243, 255);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin: 1%;
    margin-bottom:5%;
    padding-right: 5%;
    border-radius: 12px;
    font-size:  medium;
    color: black;
    
}

.text {
    border-style: solid;
    border-color: rgb(187, 125, 125);
    border-radius: 10px;
    margin-top: 8%;
    margin-bottom: 7%;
    padding:4%;
    white-space: pre-line;
    background-color: rgb(55, 10, 10);
}



.date-posted {
    font-style: italic;
}

#footer {
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right:10%;
}

.change-page {
    margin-right: 2%;
}

#older-link {
    
}

