{% load bootstrap4 %}
<!DOCTYPE html>

<!-- Headertemplate.  Addes some metadata.  Import stylesheet -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Personal Blog">
    <meta name="keywords" content="django, politics, language, python, philosophy, literature, gaming, french, spanish">
    <meta name="author" content="Thenn">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/js/spa.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="../../../static/styles.css">
</head>
<body>